html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main Styles */
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: rgb(182, 182, 158);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(143, 3, 3);
  height: 80dvh;
  width: 380px;
  border-radius: 2rem;
}

.listRender {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  border: solid beige 1px;
}

.listRender > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.todoHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todoItem > h3 {
  margin-left: 1.2575rem;
}

.todoItem > button {
  display: block;
  border: none;
  background-color: beige;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: all 0.2s
}

.todoItem>button:hover {
  background-color: rgb(143, 3, 3);
  transition: all 0.2s
}

.todoListInput {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.todoListInput>form {
  width: 100%;
}

.todoListInput > form > input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid beige 1px;
  padding: 0.5rem;
  font-size: 1rem;
}

.todoListInput > p {
  padding: 0.5rem;
}