html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main Styles */
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: rgb(182, 182, 158);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(143, 3, 3);
  height: 80dvh;
  width: 380px;
  border-radius: 2rem;
}

.listRender {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.listRender > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.todoHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  border-bottom: solid beige 1px;
}

.todoListInput {
  margin-bottom: 0.5rem;
}